.top-buffer {
     margin-top: 10px;
    }

.left-buffer{
     margin-left: 50px;
}

.btn-left-spacing{
     margin-left: 5px;
}

.home-case{
     border:none; 
     background:white;
}

.img-pos{
     height:200px;
     width: 20% auto;
     margin-left:-15px;
}

.container img {
     max-height: 100%;
     max-width: 100%;
     display: block;
     margin-left: auto;
     margin-right: auto;
   }

.div-container {
     width: 300px;
     border: solid 4px transparent;
     padding: 0px;
}

.div-container:hover{
     border-color: #F9F5F5;
     box-shadow: 5px 10px #F5F1F0;
}

.li-container{
     width: 80%;
     border: solid 4px transparent;
     padding: 0%;
}

.li-container:hover{
     border-color: #F9F5F5;
     box-shadow: 5px 10px #F5F1F0;
}

.price{
     color: #ff9f1a;
     text-transform: UPPERCASE;
     font-weight: bold;
     margin-left: 20px;
}

.cart-thumbnails{
     height: 50px;
     width: 20% auto;
}

.dropdown .dropbtn {
     border: none;
     outline: none;
     display: inline-block;
     padding-top: 0.3125rem;
     padding-bottom: 0.3125rem;
     margin-right: 1rem;
     font-size: 1.25rem;
     line-height: inherit;
     white-space: nowrap;
     color: white;
     background-color: inherit;
     font-family: inherit; 
     margin: 0;
   }

.dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
}

.dropdown-content a {
     float: none;
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
}

.dropdown-content a:hover {
     background-color: #ddd;
     text-decoration: none;
}

.dropdown:hover .dropdown-content {
     display: block;
}   